@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main-wrapper {
  margin-left: 10rem;
  font-family: 'Roboto Condensed', 'Lucida Grande', sans-serif;
  margin-bottom: 10%;
  position: relative;
}

p {
  max-width: 400px;
}

.chapters {
  &__nav {
    position: fixed;
    top: 1rem;
    left: 1rem;
    list-style: none;
    padding: 0;
    
    &-item {
      padding: .5rem;
      text-decoration: none;
    
      &--active {
        background: #333;
        
        .chapters__nav-link {
          color: #fff;
        }
      }
      
    }
    
    &-link {
      text-decoration: none;
      font-family: 'Roboto Condensed', 'Lucida Grande', sans-serif;
      color: #000;
    }
  }
  
  &__title {
    margin-bottom: 5rem;
  }
}
