#chapters__nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  list-style: none;
  padding: 0;
}

.chapters__nav {
  &-item {
    padding: .5rem;
    text-decoration: none;
    transition: background-color .3s ease-out;

    &:not(.is-active):hover {
      background-color: #dfdfdf;
    }
  
    &.is-active {
      background: #333;
      
      .chapters__nav-link {
        color: #fff;
      }
    }
  }
  
  &-link {
    text-decoration: none;
    color: #000;
  }
}

#chapters__wrapper {
  margin-left: 10rem;
  margin-bottom: 10%;
  position: relative;
}

.chapter {
  margin-bottom: 5rem;
}

p {
  max-width: 400px;
}